.main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main__avatar-section {
  grid-area: 1 / 1 / 2 / 2;
}
.main__user-info {
  grid-area: 1 / 2 / 2 / 3;
}
.main__three-blocks {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 1 / 3 / 2;
}
